.app-wrapper {
  display: grid;

  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /*grid-gap: 10px;*/
}

.header{
  grid-area: h;

  }
 .header img {
   height: 20px;
   width: 20px;
   color: #EDEEF0;

}

.nav{

  grid-area: n;
  background-color: #EDEEF0;
  color: white;
}

.content{
  grid-area: c;
  background-color: #1877F2;
}

.content img{
  width: 100%;
}